<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="inetbankingV1">

	<!-- <listeners>
		<listener class-name="com.inetbanking.utilities.Reporting"/>
	</listeners> --> 

	<test name="BankingApp Test">
		<parameter name="Browser" value="Chrome" />
		<classes>
			<class name="com.inetbanking.testcases.LoginTestCase_001" />
			<class name="com.inetbanking.testcases.TC_AddNewCustomer_002" />
		</classes>
	</test>
</suite>